<div class="container mt-5">
    <div class="card">
    <div class="card__header">
      <div class="card__header__title">طلب تقسيط سيارة</div>
      <div class="card__header__actionbtn"><img src="../assets/more.svg"/>&nbsp;<div class="showlabel">إدارة إعلانك</div> </div>
    </div>
    <div class="card__body ">
    <div class="card__info card__info--primary col-md-3 col-xs-6">
      <b class="card__label">رقم الطلب</b>
      <p class="card__text">1121324343243</p>
    </div>
    <div class="card__info card__info--primary col-md-3 col-xs-6">
      <b class="card__label">تاريخ تقديم الطلب</b>
      <p class="card__text">9 سبتمبر 2020</p>
    </div>
  </div>
    <hr>
    <div class="card__dropdown">
    <div class="card__dropdown__title" (click)="Opened = !Opened">تفاصيل الطلب &nbsp;<img [ngClass]="{ toggle: Opened }" src="../assets/ic_expand_more_24px.svg"/></div>
    <div class="card__dropdown__status"><img src="../assets/revise.svg"/>&nbsp;تحت المراجعة </div>
  </div>
  <div class="card__body" [ngClass]="{ show: Opened }" >
  <div class="card__info card__info--secondary col-md-3 col-xs-6">
    <b class="card__label">الماركة</b>
    <p><img src="../assets/bmw.svg" width="20"/>&nbsp;بي ام دبليو</p>
  </div>
  <div class="card__info card__info--secondary col-md-3 col-xs-6">
    <b class="card__label">الموديل</b>
    <p class="card__text">320</p>
  </div>
  <div class="card__info card__info--secondary col-md-3 col-xs-6">
    <b class="card__label">السنة</b>
    <p class="card__text">2020</p>
  </div>
  <div class="card__info card__info--secondary col-md-3 col-xs-6">
    <b class="card__label">فئة السيارة</b>
    <p class="card__text">A/T Exclusive</p>
  </div>
  <div class="card__info card__info--secondary col-md-3 col-xs-6">
    <b class="card__label">المقدم</b>
    <p class="card__text">100,000</p>
  </div>
  <div class="card__info card__info--secondary col-md-3 col-xs-6">
    <b class="card__label">عدد الشهور</b>
    <p class="card__text">12</p>
  </div>
  <div class="card__info card__info--secondary col-md-3 col-xs-6">
    <b class="card__label">النظام</b>
    <p class="card__text">الافتصادي</p>
  </div>
  </div>
  </div>
  </div>
  
