$primary-font: "DroidArabicKufi";
$primary-color: #1592e6;
$secondary-color: #f58828;
$secondary2-color: #0b5f78;
$background-color: #f9f9f9;
$background2-color: #f7fcff;
$background3-color: #fce8b5;
$light-color: #e8e5e5;
$dark-color: #434343;
$placeholder-color: #959595;
$label-color: #0e1421;

$font-size-25: 1.5625em;
$font-size-14: 0.875em;
$font-size-18: 1.125em;

$font-weight-regular: 400;
$font-weight-bold: 700;

$spacing-sm: 1rem;
$spacing-md: 2rem;
