<div class="container mt-5">
    <div class="insurance-description">
      <div>
        <div class="breif">
        <div class="title">ما هي خدمة التأمين</div>
        <div class="description">وريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه … بروشور او فلاير على سبيل المثال … او نماذج مواقع انترنت …</div>
        <div class="link"><img src="../assets/ins.svg"/>&nbsp;إعرف أنظمة التأمين</div>
      </div>
        <div class="contact">
          <img class="contact__img" src="../assets/message.svg" alt="message icon"/>
          <div>
            <img class="contact__imgmobile" src="../assets/message.svg" alt="message icon"/>
            <div class="contact__title">لو عاوز تعرف اكتر عن مميزات برامج التأمين وبرامج أخري</div>
            <input class="contact__input" type="text" placeholder="اسمك"/>
            <input class="contact__input" type="tel" placeholder="تليفونك">
            <button class="contact__button">إبعتلنا</button>
        </div>
        </div>
      </div>
      <img class="insurance-img" src="../assets/insurance_illustration.svg" alt="insuranceillustration"/>
    </div>
  </div>
